<h2>Log In</h2>
<%= flash.notice %>

<form action="<%= session_url %>" method="post">
  Username: <input type="text" name="user[name]" id="user_name">
  <br>
  Password: <input type="password" name="user[password]" id="user_password">
  <br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Log In">
</form>